
/*la cacca rosa*/
h4 {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 60px;
}

body{
    /*color: rgb(44, 231, 77)*/
    color: rgba(0, 0, 0, 0.5);
    font-family: 'HalyardDis_ISIAU Bk', Arial, sans-serif;
    font-size: 28px;
    display: flex;

}

a{
    color: rgb(0, 0, 0);
border: 1px solid black; /*shorthand*/
}

a:hover {
    color: rgb(0, 0, 0);
    text-decoration: underline;
    font-weight: 700;
    font-style: italic;
}


div {   color: rgb(0, 0, 0);
}

a:visited {
    color: grey;
text-decoration: line-through;
}




