
/*la cacca rosa*/
h4 {
    background-color: rgb(0, 0, 209);
    color: crimson;
    font-size: 60px;
}

body{
    /*color: rgb(44, 231, 77)*/
    color: rgba(145, 142, 54, 0.5);
    font-family: 'HalyardDis_ISIAU Bk';
    font-size: 30px;
    background-color: rgb(167, 167, 233);

}

a{
    color: rgb(132, 18, 132);
    text-decoration: overline;
}

a:hover {
    color: rgb(217, 94, 5);
    text-decoration: underline;
    font-weight: 700;
    font-style: italic;
}




